{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'catster/style.css' %}">

<h1>Hello from Django on Kubernetes</h1>

<img src="{% static "catster/cat.jpg" %}" alt="Cat by https://unsplash.com/photos/orange-tabby-kitten-in-grasses-RCfi7vgJjUY" />
